<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-small-cap">MANAGEMENT</li>
        <li>
          <%= link_to dashboard_path, class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
            <i class="mdi mdi-gauge"></i>
            <span class="hide-menu">Dashboard </span>
          <% end %>
        </li>
        <li class="collapse-chevron">
          <%= link_to "#collapse1", class: 'waves-effect waves-dark collapsed', aria: { expanded: "false" }, "data-toggle" =>"collapse" do %>
            <i class="mdi  mdi-account-multiple"></i>
            <span class="hide-menu">My Account </span>
            <i class="fa fa-angle-down float-right hide-menu"></i>
          <% end %>
          <li class="collapse side-bar-col" id="collapse1">
            <%= link_to edit_change_password_path(current_user), class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
              <i class="ti-lock"></i>
              <span class="hide-menu">Change Password </span>
            <% end %>
          </li>
        </li>
        <li>
          <%= link_to new_wallet_transaction_path, class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
            <i class="mdi mdi-transfer"></i>
            <span class="hide-menu">Wallet Transfer </span>
          <% end %>
        </li>
        <li>
          <%= link_to user_upgrade_path, class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
            <i class="mdi mdi-bank"></i>
            <span class="hide-menu">Upgrade </span>
          <% end %>
        </li>
        <li>
          <%= link_to user_my_direct_path, class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
            <i class="mdi mdi-account-star"></i>
            <span class="hide-menu">Direct Member </span>
          <% end %>
        </li>
        <li>
          <%= link_to user_referral_path, class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
            <i class="mdi mdi-share"></i>
            <span class="hide-menu">Referral </span>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
            <i class="mdi  mdi-logout"></i>
            <span class="hide-menu">Sign Out </span>
          <% end %>
        </li>
        <div class="collapse-chevron mt-md-5 mt-2">
        <div data-toggle="collapse" class="collapsed" href="#collapse1">
          
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="collapse" id="collapse1">
            </div>
          </div>
        </div>
      </div>
        <!-- <li>
          <%#= link_to "admin_companies_path", class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
            <i class="mdi mdi-account-multiple"></i>
            <span class="hide-menu">Companies</span>
          <%# end %>
        </li>
        <li>
          <%#= link_to "admin_campaigns_path", class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
            <i class="mdi mdi-account-multiple"></i>
            <span class="hide-menu">Campaigns </span>
          <%# end %>
        </li> 
        <li>
          <%#= link_to "admin_team_members_path", class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
            <i class="mdi mdi-calendar-multiple-check"></i>
            <span class="hide-menu">Team Members </span>
          <%# end %>
        </li> -->
        <!-- <li>
          <%#= link_to "admin_articles_path", class: 'waves-effect waves-dark', aria: { expanded: "false" } do %>
            <i class="mdi mdi-book"></i>
            <span class="hide-menu">Articles </span>
          <%# end %>
        </li> -->
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
