<div class="container">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="card cont-shadow">
        <div class="card-header">
          <div class="row">
            <div class="col-md-1 col-3">
              <i class="fa fa-lock edit-header-icon"></i>
            </div>
            <div class="col-md-11 col-9">
              <h3 class="card-title mb-0 mt-2 ml-3">Change Password</h3>
            </div>
          </div>
        </div>
        <div class="card-body edit-card-body">
          <div class="row">
            <div class="col-md-6">
              <%= form_for(@user, :url => { :action => "change_password" } ) do |f| %>
                <div class="form-group">
                  <%= f.label :current_password %> 
                  <%= f.password_field :current_password, class: "form-control", placeholder: "Current Password" %>
                </div>
                <div class="form-group">
                  <%= f.label :password, "Password" %>
                  <%= f.password_field :password, class: "form-control", placeholder: "New Password"  %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation , class: "form-control", placeholder: "Confirm Password"%>
                </div>
                <div class="action_container">
                  <%= f.submit "Update Password", class: "btn btn-info" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>