<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-12">
      <div class="card cont-shadow">
        <div class="card-header">
          <div class="row">
            <div class="col-md-1 col-3">
              <i class="fa fa-user edit-header-icon"></i>
            </div>
            <div class="col-md-11 col-9">
              <h3 class="card-title mb-0 mt-2 ml-2">Forgot your password?</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions", class: "btn btn-info" %>
            </div>
          <% end %>
         <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
