<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-12">
      <div class="card cont-shadow">
        <div class="card-header">
          <div class="row">
            <div class="col-md-1 col-3">
              <i class="fa fa-user edit-header-icon"></i>
            </div>
            <div class="col-md-11 col-9">
              <h3 class="card-title mb-0 mt-2">Edit Profile</h3>
            </div>
          </div>
        </div>
        <div class="card-body edit-card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="row">
              <div class="col-md-6 form-group">
                <label>Name</label>
                <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
              </div>
              <div class="col-md-6 form-group">
                <label>Email</label>
                <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label>Profile</label>
                <%= f.file_field :profile_photo %>
              </div>
              <div class="col-md-6 form-group">
                <label>Contact No.</label>
                <%= f.text_field :mobile_number, class: "form-control", placeholder: "Contact No" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label>Date of Birth</label>
                <%= f.text_field :date_of_birth, class: "form-control", placeholder: "Date of Birth" %>
              </div>
              <div class="col-md-6 form-group">
                <label>Gender</label>
                <%= f.text_field :gender, class: "form-control", placeholder: "Gender" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label>Nominee</label>
                <%= f.text_field :nominee, class: "form-control", placeholder: "Nominee" %>
              </div>
              <div class="col-md-6 form-group">
                <label>Nominee Relation</label>
                <%= f.text_field :nominee_relation, class: "form-control", placeholder: "Nominee" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label>Address</label>
                <%= f.text_field :address, class: "form-control", placeholder: "Address" %>
              </div>
              <div class="col-md-6 form-group">
                <label>Pincode</label>
                <%= f.text_field :pincode, class: "form-control", placeholder: "Pincode" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label>City</label>
                <%= f.text_field :city, class: "form-control", placeholder: "City" %>
              </div>
              <div class="col-md-6 form-group">
                <label>State</label>
                <%= f.text_field :state, class: "form-control", placeholder: "State" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label>Transaction password</label>
                <%= f.password_field :transaction_password, class: "form-control", placeholder: "password" %>
              </div>
            </div>

            <div class="actions text-center">
              <%= f.submit "Update Profile", class: "btn btn-info" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div> 
</div>

